
header{
display: flex;
justify-content: space-between;
background-color: #FF5800;
}

/* .bgimg {
    background-image: url('./../resources/parking_lot_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} */

.vertical-center {
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.white-background-card {
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    width: 70%;
    border-radius: 30px;
    background:rgba(255, 255, 255, 0.8);
}

.text-center {
    text-align: center;
}

.placa-input {
    width: 50%;
}

.placa-add-form-btn{
    padding-left: 120px;
    padding-right: 20px;
     margin-top: 150px;
    padding-left: 25px;
    background-color: #FF5800;
    box-shadow: white;
   
}

@media only screen and (max-width: 768px) {
     .logo-parking {
        width: 50%;
        height: auto;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
    .logo-parking {
        width: 40%;
        height: auto;
    }
}

@media only screen and (min-width: 1025px){
    .logo-parking {
        width: 30%;
        max-width: 350px;
        height: auto;
    }
}
